<!doctype html>

<head>
	<title>League of Legends</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />	
	
	<style>
		body{
			padding-top: 50px;
			background-color: grey;
		}
	
	</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#navbar" aria-expand					ed="false"
			aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button
			<a class="navbar-brand" href="#"></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li class="active"><a href="champions">Champions</a></li>			<li><a href="tournaments">Tournaments</a></li>		
		</ul>
		</div>
	</div>
	</nav>
	
	<div class="container">
		<h1>Champions</h1>
				
	
	<p class="lead">There are over 140 different champions to play in League of legends. Each with their own unique set of abilities to use. Here is a list of some of my favourite champions that I like to play.<br>Please click on a champion that you would like to learn more about.</p>
	
	<a href="/champions/cassiopeia">
	<img src="{{url_for('static', filename='Cassiopeia.png')}}"/>
	</a>
	<br>
	<a href="/champions/syndra">	
	<img src="{{url_for('static', filename='Syndra.png')}}"/>
	</a>
	<br>
	<a href="/champions/zed">
	<img src="{{url_for('static', filename='Zed.png')}}"/>	
	</a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')
		}}"></script>
</body>
</html>
